

html,
body {
	height: 100%;
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(
		left,
		#ffb76b 0%,
		#ffa73d 47%,
		#ff7c00 66%,
		#ff7c00 66%,
		#ff7f04 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		left,
		#ffb76b 0%,
		#ffa73d 47%,
		#ff7c00 66%,
		#ff7c00 66%,
		#ff7f04 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		to right,
		#ffb76b 0%,
		#ffa73d 47%,
		#ff7c00 66%,
		#ff7c00 66%,
		#ff7f04 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#ffb76b',
			endColorstr='#ff7f04',
			GradientType=1
        ); /* IE6-9 */
    color: white;
    font-family: 'Courier New', Courier, monospace;    
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 150px; 
}


.cards {
	border: none;
}
