#banner {
    margin-bottom: 0em;
    padding: 10px;
}

#tabNav {
    padding-left: 100px;
}

ul, li, a {
    padding-right: 50px;
}

#main-1 {
    padding-bottom: 50px;
}

#social {
    padding-top: 50px;
}
  